#pagina{
margin: 5px;
padding: 1px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif cursive;
font-size:larger;

}

.banner{
    padding-left: 10%;
    padding-right: 10%;
}
.pie{
    background-color: rgb(240, 240, 240);
}
h3{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:larger;
    color: rgb(89, 123, 187);
}